.nav1{
	position: relative;
	right: 0px;
}
.nav1 a, h4{
	color: rgba(255,255,255,0.5);
	
}

.logo{
	width: 53px;
}

.navbar{
	
  position: fixed;
  top: 0;
  width: 100%;
  display:grid;
  height: 71px;
  

}

.salir{
	z-index: 1000;
}
.salir a{
	min-width: 60px;
	width: 100%;
}
.salir a:hover{
	background-color: #591111;
}
