.nav1{
	position: relative;
	left: 50px;
	top: 8px;

}
.nav2{
	position: absolute;
	left: 1px;
}

.nav1 a, h4{
	color: rgba(255,255,255,0.5);
	
}

.logo{
	width: 53px;
}

.navbar{
	
  position: fixed;
  top: 0;
  width: 100%;
  display:grid;
  height: 53px;

}
