.nav1{
	position: relative;
	right: 0px;
}
.nav1 a, h4{
	color: rgba(255,255,255,0.5);
	
}

.logo{
	width: 53px;
}

.navbar{
	
  position: fixed;
  top: 0;
  width: 100%;
  display:grid;
  height: 71px;
  

}
